body {
  margin: 0;
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
  height: 150vh;

  .logo {
    width: 80px;
  }
}

p {
  color: #191970;
}

h1,
h2,
h3 {
  color: #191970;
}
